<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script defer src="../backend/newProject.js"></script>
  <meta name="author" content="gr1_eq7"/>
  <title>Liste de mes projets</title>
</head>

<body>
  <br>
  <form action="/create-project" method="post">
    <div class="form-group">
      <label>Nom : <input id="nameProject" type="text" name="projectName"></label> <br>
      <label>Description : <input id="descriptionProject" type="text"></label> <br>
      
      <label>Ajouter un membre au projet :<input id="usernameMemberToAdd" name="memberUsernameToAdd"></label>
      <button type="submit" class="btn btn-primary" formaction="/add-member">Ajouter</button>
      
      <ul id="listProjectMembers">Liste des membres du projet :
        <% project.listMembers.forEach(member => { %>
          <li> <%= member.username %>
            <form action="/remove-member" method="post" id="remove">
              <input type="text" name="memberUsernameToRemove" class="form-control" id="username" value="<%= member.username %>" hidden>
              <button type="submit" class="btn btn-primary" form="remove">Supprimer</button>
            </form>
          </li>
        <% }); %>
      </ul>
    </div>
      
    <button type="submit" class="btn btn-primary" id="createNewProject">Enregistrer</button>
  </form>
</body>
</html>