<div class="col-3">
  <nav class="nav flex-column">
    <a class="nav-link" href="/listIssues">Issues</a>
    <a class="nav-link" href="/listTasks">Tasks</a>
    <a class="nav-link" href="/listSprints">Sprints</a>
    <a class="nav-link" href="/listReleases">Releases</a>
    <a class="nav-link" href="/listDoc">Doc</a>
    <a class="nav-link" href="/listTests">Tests</a>
  </nav>
</div>